{% extends "::base.html.twig" %}

{% block extra_javascripts %}
    <script>
        $('.typeahead').typeahead({
            source: ["KDL40W5500","KDL60LX900"],
            updater: function(item) {
                return item;
            }
        });
    </script>
{% endblock extra_javascripts %}

{% form_theme form 'SelhosaRepairBundle:Form:fields.html.twig' %}

{% block container %}

    <div class="row-fluid">
        <div class="span6"><h2>Entrar OT</h2></div>
    </div>

	<div class="row-fluid">
        <form action="{{ path('selhosa_reparation_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
	</div>
{% endblock container %}
