{% extends "::base.html.twig" %}

{% block extra_javascripts %}
    {% include 'SelhosaRepairBundle:Crud:select_electronic.js.twig' %}
{% endblock extra_javascripts %}

{% block container %}

    <div class="row-fluid">
        <div class="span6"><h2>Editar OT</h2></div>
    </div>

	<div class="row-fluid">
        <form action="{{ path('selhosa_reparation_update', {id : workorder.id}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
	</div>
{% endblock container %}
