<div class="modal hide fade" id="chargeMaterialModal-{{ workorder.id }}" data-remote="{{ path('selhosa_reparation_charge_material') }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Imputar materials</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Imputat i diagnosticat</a>
        <a href="#" data-dismiss="modal" class="btn btn-primary chargeAction">Imputat</a>
    </div>
</div>
