{% extends "::base.html.twig" %}

{% block container %}

    <div class="row-fluid">
        <div class="span6"><h2>Detall OT</h2></div>
    </div>

	<div class="row-fluid">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="span2">Referència</td>
                    <td>{{ workorder.reference }}</td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td>{{ workorder.model }}</td>
                </tr>
                <tr>
                    <td>Prioritat</td>
                    <td>{{ workorder.priority }}</td>
                </tr>
                <tr>
                    <td>Tècnic(s)</td>
                    <td>
                        <ul>
                        {% for technician in workorder.technicians %}
                            <li>{{ technician }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Historial</h3>

        <p><i>En desenvolupament</i></p>

	</div>
{% endblock container %}
