<div class="btn-group">
    <button class="btn btn-mini change-workorderstatus" type="button" data-workorderid="{{ workorder.id }}" data-newstatuskeyword="receiveMaterial">Material demanat</button>
    <button class="btn btn-mini change-workorderstatus" type="button" data-workorderid="{{ workorder.id }}" data-newstatuskeyword="repair">No cal material</button>
</div>